<div class="login-page">
  <div class="login-container" style="max-width: 460px; margin: auto;">
    <div class="login-right" style="width:100%">
      <div class="login-form-wrapper">

        <div class="admin-tag">
          <svg width="11" height="11" viewBox="0 0 11 11" fill="currentColor">
            <path d="M5.5 1L7.2 4L11 4.5L8.25 7.1L9 11L5.5 9.2L2 11L2.75 7.1L0 4.5L3.8 4L5.5 1Z"/>
          </svg>
          Première connexion
        </div>

        <h2 class="form-title">Changer votre mot de passe</h2>
        <p class="form-subtitle">Vous devez définir un nouveau mot de passe avant de continuer</p>

        <div class="alert-error" *ngIf="error">{{ error }}</div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="form-field">
            <label>Mot de passe temporaire</label>
            <input type="password" formControlName="old_password" placeholder="Mot de passe reçu"/>
            <span class="field-error"
              *ngIf="form.get('old_password')?.invalid && form.get('old_password')?.touched">
              Requis
            </span>
          </div>

          <div class="form-field">
            <label>Nouveau mot de passe</label>
            <input type="password" formControlName="new_password" placeholder="Min. 8 caractères"/>
            <span class="field-error"
              *ngIf="form.get('new_password')?.invalid && form.get('new_password')?.touched">
              Minimum 8 caractères
            </span>
          </div>

          <div class="form-field">
            <label>Confirmer le mot de passe</label>
            <input type="password" formControlName="confirm" placeholder="Répéter le mot de passe"/>
            <span class="field-error" *ngIf="form.errors?.['mismatch'] && form.get('confirm')?.touched">
              Les mots de passe ne correspondent pas
            </span>
          </div>

          <button type="submit" class="btn-primary" [disabled]="loading">
            <span *ngIf="!loading">Confirmer et accéder</span>
            <span *ngIf="loading" class="loading-dots"><span></span><span></span><span></span></span>
          </button>

        </form>
      </div>
    </div>
  </div>
</div>